<!doctype html>
<html lang="fr">
  <%- include('partials/head.ejs'); %>
  <body>
    <%- include('partials/menu.ejs'); %>
    <div class="fr-container fr-mt-5w">
      <h1>Aide</h1>
      <div class="fr-grid-row fr-mt-md-4w">
        <div class="fr-col-12 fr-col-md-3">
          <%- include('partials/aide/aide-nav.ejs'); %>
        </div>
        <div class="fr-col-12 fr-col-md">
          <%- include('partials/aide/aide-contenu.ejs'); %>
        </div>
      </div>
    </div>
    <%- include('partials/footer.ejs'); %>
  </body>
</html>
