<!DOCTYPE html>
<html lang="fr">
<%- include('partials/head.ejs'); %>

    <body>
        <%- include('partials/menu.ejs'); %>
            <div class="fr-background-alt--grey">
                <div class="fr-container">
                    <div class="fr-grid-row fr-grid-row--middle fr-py-4w">
                        <div class="fr-hidden fr-unhidden-md fr-col-1">
                            <img src="/pictograms/city-hall.svg" class="fr-responsive-img fr-artwork" aria-hidden="true" alt="" />
                        </div>
                        <div class="fr-col-8 fr-col-offset-1">
                            <h1>Pour les partenaires Fournisseurs d'Identité</h1>
                            <p class="fr-mb-0 fr-h4">Vous souhaitez intégrer AgentConnect en tant que Fournisseur d’Identité et permettre à vos agents de se connecter via AgentConnect sur plusieurs services en ligne.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-container">
                <div class="fr-grid-row fr-mt-md-4w ">
                    <div class="fr-col-12 fr-col-md-3">
                        <%- include('partials/fi/fi-nav.ejs'); %>
                    </div>
                    <div class="fr-col-12 fr-col-md">
                        <%- include('partials/fi/fi-avantages.ejs'); %>
                        <%- include('partials/fi/fi-offres.ejs'); %>
                        <%- include('partials/fi/fi-rex.ejs'); %>
                        <%- include('partials/fi/fi-documentation.ejs'); %>
                        <%- include('partials/fi/fi-implementation-etapes.ejs'); %>
                    </div>
                </div>
            </div>
            <%- include('partials/fi/fi-contact.ejs'); %>
            <%- include('partials/footer.ejs'); %>
    </body>

</html>
