<!DOCTYPE html>
<html lang="fr">
<%- include('partials/head.ejs'); %>

<body>
  <%- include('partials/menu.ejs'); %>
  <div class="fr-background-alt--grey">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--middle fr-py-4w">
        <div class="fr-hidden fr-unhidden-md fr-col-1">
          <img src="/pictograms/internet.png" class="fr-responsive-img fr-artwork" aria-hidden="true" alt="" />
        </div>
        <div class="fr-col-8 fr-col-offset-1">
          <h1>Fournisseur de Services Numériques</h1>
          <p class="fr-mb-0 fr-h4">Implémentez le bouton AgentConnect pour permettre à vos
            utilisateurs de s’identifier sur un de vos services en ligne.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-container">
    <div class="fr-grid-row fr-mt-md-4w">
      <div class="fr-col-12 fr-col-md-3">
        <%- include('partials/fs/fs-nav.ejs'); %>
      </div>
      <div class="fr-col-12 fr-col-md">
        <%- include('partials/fs/fs-avantages.ejs'); %>
        <%- include('partials/fs/fs-offres.ejs'); %>
        <%- include('partials/fs/fs-rex.ejs'); %>
        <%- include('partials/fs/fs-documentation.ejs'); %>
        <%- include('partials/fs/fs-implementation-etapes.ejs'); %>
      </div>
    </div>
  </div>
  <%- include('partials/fs/fs-contact.ejs'); %>
  <%- include('partials/fs/fs-tchap.ejs'); %>
  <%- include('partials/footer.ejs'); %>
</body>
</html>
